*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***********PRIMO***********************

.wrapper{
    height: 100vh;
    background-color: black;
}
    
*/





.wrapper-second-try{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 
.lamp-on{ 
    display: none;
}




/********************TERZO METODO******************************

.img-bg-lamp-off{
background-image: url(../img/white_lamp.png);
background-repeat: no-repeat;
height: 500px;
width: 500px;
}

.img-bg-lamp-on{
    background-image: url(../img/yellow_lamp.png);
background-repeat: no-repeat;
height: 500px;
width: 500px
}
*/